<h1>Pagina Personal </h1>

@Html.LabelFor(m=>m.nombre, "NOMBRE"): @Model.nombre
@Html.LabelFor(m=>m.Apellidos, "APELLIDOS "): @Model.Apellidos
@Html.LabelFor(m=>m.Edad,"EDAD"): @Model.Edad
@Html.LabelFor(m=>m.ce,"CORREO ELECTRONICO"): @Model.ce
@Html.LabelFor(m=>m.num,"NUMERO TELEFONICO"): @Model.num
@Html.LabelFor(m=>m.direc,"DIRECCION"): @Model.direc
@model Personales

