<h1>Paginas Personales </h1>

@Html.LabelFor(m=>m.nombre, "NOMBRE"): @Model.nombre
@Html.LabelFor(m=>m.Apellidos, "APELLIDOS "): @Model.Apellidos
@Html.LabelFor(m=>m.Edad,"EDAD"): @Model.Edad
@model Personales

